p {
  padding: 10px;
  color: #00FF00;
  }
body{
  font-family: "Comic Sans MS", sans-serif;
  background-color: black;
  }
h1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: underline;
  }
